/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(117, 113, 141);
    border: 2px #1f1f1f solid;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 113, 141);;
  }