body{
    margin: 0;
}

.header h1,.header h3{
    color: white;
}

h1{
    font-size: 3rem;
}

.header h3{
    margin: 0;
}

.header{
    background-color: rgb(25, 0, 54);
    padding: 100px;
    text-align: center;
}

.h-svg{
    background-color: rgb(25, 0, 54);
    padding: 10px;
}

.h-svg svg{
    position: absolute;
    cursor: pointer;
    transition: 1s;
}

.h-svg svg:hover{
    transform: rotate(-33.5deg);
}

@keyframes rotateD{
    from{
        transform: rotate(-33.5deg);
    }
    to{
        transform: rotate(-393.5deg);
    }
}